.customer {
  background-color: #fff3f3;
  padding: 75px 0;
  margin-bottom: 150px;
  &-title {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
    max-width: 475px;
    margin: 0 auto;
    margin-bottom: 65px;
  }
  &-list{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      align-items: center;
      grid-gap: 35px;
      
  }
  &-item-card{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 28px;
      border-radius: 8px;
      margin-bottom: 35px;
      background-color: $white-color;
      
  }
  &-review{
      color: $desc-color;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 25px;
  }
  &-author{
      display: flex;
      align-items: center;
      &-name{
          font-size: 20px;
          font-weight: 500;
      }
      &-work{
        font-size: 12px;
        font-weight: 400;
      }
      span{
          display: block;
      }
  }
  &-slide{
     display: flex;
     justify-content: right;
     column-gap: 30px;
     margin-left: auto;
     &-btn-slide{
         background-color: $white-color;
         color: $main-color;
     }
     .active{
         background-color: $main-color;
         color: $white-color;
     }
  }
  

}
// reponsive
@media screen and (max-width: 1023.98px) {
    .customer-list{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0;
    }
}
@media screen and (max-width: 767.98px) {
    .customer-title{
        font-size: 35px;
        
        margin-bottom: 35px;
    }
    .customer-slide{
        column-gap: 25px;
    }
    .customer-btn-slide{
        padding: 10px;
        
    }
}



